@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #EEEEEE;
}


/*     Header   */
.header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #EEEEEE;
    margin: 0 10px 30px 10px;
    position: fixed;
    top: 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__logo img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    text-decoration: underline;
}



/*     Inner    */
.inner {
    margin-top: 100px;
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}
.input {
    display: block;
    padding: 5px 10px;
    width: 250px;
    margin: 0 auto 15px;
}
.btn {
    border: none;
    border-radius: 4px;
    background-color: #F1C40F;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 10px;
}
.btn:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    .inner {
        margin-top: 60px;
    }
}


/*     Features section*/
.features {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    margin: 20px auto;
    text-align: left;
}
.features__icon {
    text-align: center;
    color: #FF8C00;
    width: 20%;
}
.features__string {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.features__string__inner {
    width: 80%;
}
.features__title {
    font-weight: 700;
    font-size: 24px;
}
@media screen and (max-width: 900px) {
    .features {
        margin: 10px 30px;
    }
    .features__icon {
        margin-right: 30px;
    }
    .features__discribe {
        margin-right: 30px;
    }
}
@media screen and (max-width: 650px) {
    .features__icon {
        display: none;
    }
    .features {
        width: 70%;
        margin: 10px auto;
    }
    .features__string__inner {
        width: 100%;
    }
}

/*     Video    */
.video {
    display: block;
    margin: 40px auto;
}

/*     Price cards  */
.card__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 850px;
    margin: 30px auto;
    text-align: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    min-width: 250px;
    border: 1px solid black;
    margin: 10px 10px;
}
.card__title {
    width: 100%;
    background-color: #DDDDDD;
    font-weight: 600;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 10px;
}
.card__price {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
}
.card__button {
    display: inline;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #F1C40F;
    border: none;
    width: 100px;
}
.card__button:hover {
    background-color: #b8950c;
    color: white;
    transition: 0.3s linear;
}


/*     Footer   */
.footer {
    background-color: #DDDDDD;
    margin: 0 100px;
    padding: 20px;
    text-align: right;
}

.footer__nav {
    display: flex;
    justify-content: flex-end;
}
.footer__nav__link {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.footer__nav__link:hover {
    text-decoration: underline;
}
.footer__copyright {
    font-weight: 200;
    font-size: 14px;
}
@media screen and (max-width: 700px) {
    .footer {
        margin: 0;
    }
}



